{% extends 'base.html.twig' %}

{% block title %}Edit Steps{% endblock %}

{% block body %}
    <h1>Edit Steps</h1>

    {{ include('steps/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('steps_index', {'project':step.stage.project.slug}) }}">back to list</a>

    {{ include('steps/_delete_form.html.twig') }}
{% endblock %}
