{% extends 'base.html.twig' %}

{% block title %}HouseBook | Home{% endblock %}

{% block body %}
<div class="row home-image">
    <div class="row home-text">
        <div>Software solution for</div>
        <div>construction management of your house</div>
    </div>
    <div class="row home-buttons">
        <a class='btn home-link' href="/contact">Contact us</a>
        <a class="btn home-link" href="/project/new">Start a project</a>
    </div>
</div>
<div>
    <div class="row">
        <div class="row home-logo">
            HouseBook App
        </div>
        <p class="row home-info">Constructing your house is an important chapter of your life. It usually comes with a lot of documents, receipts and costs to manage.
        Why not choose us to organise it all for you?</p>
    </div>
</div>



{% endblock %}