@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700;900&display=swap');

*
{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    
}
.baseTemplate{
    background-color: #F5F5F5;
}
.navbar{
    
    font-weight: 900;
}
.nav-item .section{
    letter-spacing: 2px;
    color:#F5F5F5;
}
.img-fluid-3 {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.img-fluid-2 {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.img-fluid-2:hover{
    box-shadow: 10px;
}
.card:hover{
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.43);
    transition: 0.5s;
}
.project-image {
    width: fit-content;
    object-fit: cover;
    object-position: center;
}
.img-user{
    width:3rem;
    height:3rem;
    border-radius:50%;  
    object-fit: cover;
    border-style:groove;
    border-color: #F5F5F5;
}
.project-info{
    background-color: #FFFFFF;
}