@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700;900&display=swap');

*
{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    
}
.navbar{
    background-color: #FFFFFF;
    font-weight: 900;
}
.register-link{
    text-decoration: underline;
    color:black;
}
.nav-item .section{
    letter-spacing: 2px;
    color:black;
}