@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700;900&display=swap');

*
{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    
}
.navbar{
    letter-spacing: 0.3em;
    background-color: #FFFFFF;
    font-weight: 700;
}
.register-link{
    text-decoration: underline;
    color:black;
}