@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #FFFFFF;
    --grey: #D3D3D5;
    --first-color-light: #8E919E;
    --header-text: #545973;
    --btn-header-background: #F0F5FB;
    --white-color: #F26719;
    --title-color: #111010;
    --gradient-color1: #FFFFFF;
    --gradient-color2: #fafafb;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --button-press: #F26719;
    --purple: #7381FF;
    --light-purple : #EFE9FB;
    --strong-purple :#5F24D3;
    --pale-red: #F5504C;
    --green : #2AA73E;
    --pale-green : #E6F5E9;
}

*,
::before,
::after {
    box-sizing: border-box;

}

body {
    background-color: #EFF2F7;
    color: var(--title-color);
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    transition: .5s;
    box-shadow: 0px 18px 50px 5px rgba(32, 32, 32, 0.111);
}

.header_toggle {
    color: var(--first-color-light);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;

}
.header_right{
    display: flex;
    overflow: hidden;

}
.header_text{
    margin-right: 1em;
    justify-content: space-between;
    text-align: right;
}

.header_text_user a{
    font-weight: 800;
    color: var(--title-color);
}
.header_text_user a:hover{
    color: var(--purple);
}
#map {
    height: 100%;
}
.header_text_mail a{
    font-weight: 600;
    color: var(--header-text);
    font-size: 0.8em;
}

.header_img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius:50%;

}

.header_btn_login{
    justify-content: center;
    color: var(--header-text);
    background-color: var(--btn-header-background);
    border-color: var(--header-text);
    width: 90px;
    margin-right: 10px;
    font-weight: 800;
}
.header_btn_login:hover{
    color: var(--first-color);
    background-color: var(--purple);
    border-color: var(--first-color);
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
    box-shadow: 18px -1px 36px -10px rgba(0,0,0,0.12);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

.card a{
    text-decoration: none;
}
.card a:hover{
    text-decoration: none;
}
.card .card-text{
    color:var(--header-text);
    font-weight: 600;
}
.card .card-title{
    color:var(--title-color);
    font-weight: 800;
}
.card{
    border-radius: 7%;
    border-style: none;
    height: 30rem;
}
.card-body{
    height: fit-content;
}
.card-img-top{
    border-radius: 7% 7% 0 0;
    box-shadow: 0px 18px 50px 5px rgba(32, 32, 32, 0.111);
}
.header_btn_register{
    justify-content: center;
    color: var(--title-color);
    width: 90px;
    margin-right: 10px;
    font-weight: 800;
}
.header_btn_register:hover{
    color: var(--purple);
}
#map {
    height:400px;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto, serif;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}



.first-row{
    background-color: var(--first-color);
    border-radius: 40px;
    object-fit: cover;
    margin-top:150px;

}
.second-row{
    background-color: var(--first-color);
    border-radius: 40px;
    object-fit: cover;
    margin-top:50px;
}
.first-col{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.project-image{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 100%;
    object-fit: cover;
    height: 350px;
}
.second-col{
    padding-left: 3em;
    padding-top: 2em;
}
.project_title{
    font-size: 1.9em;
    font-weight: bold;
}
.project_map {
    padding-top:0.8em;
    padding-bottom: 0em;
    font-weight: bold;
    font-size: medium;

}
.project_link {
    color: var(--header-text);
    margin-bottom: 0 !important;
}
.project_link:hover {
    color: var(--purple)
}
.row{
    --bs-gutter-x: 0rem;
}
.project_info{
    font-size: large;
}

.project_btn{
    margin-top:20px;
    margin-bottom: 20px;
    justify-content: center;
    color: var(--first-color);
    background-color: var(--purple);
    border-color: var(--purple);
    margin-right: 10px;
    font-weight: 600;
    width:250px;
}
.project_btn:hover{

    color: var(--first-color);
    background-color: var(--white-color);
    border-color: var(--white-color);

}
.project_button_row{
    padding-top:2.3em;
}

.dropdown-toggle::after{
    display: none;
}

.project-description{
    font-size: 1.5em;
    font-weight: normal;
}
.row-section{
    height: 1px;
    background-color: var(--grey);
    width: 90%;
    margin-bottom: 50px;
}
.document-show{
    margin-right:50px;
    border-bottom: 1px solid var(--grey);
}
.second-row{
    padding-left: 2em;
    padding-top: 1.2em;
    padding-bottom: 1.3em;
}
.document-download{
    color: var(--first-color-light);
}
.document-download:hover{
    color: var(--purple);
}
.document-info{
    font-weight: bold;
}
.document-ext{
    color: var(--strong-purple);
    width:40px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--light-purple);
}
.add-link{
    color: var(--purple);
}
.add-link:hover{
    color: var(--green);
}
.btn-delete{
    all:unset;
    color: var(--white-color);
}
.btn-delete:hover{
    color: var(--pale-red);
}
.project-stage{
    align-items: center;
}
.stage-list{
    align-items: center;
}
.show-more{
    color: var(--strong-purple);
    font-weight: 700;
    text-align: center;
}
.show-more:hover{
    color: var(--white-color);
}
.modal-content{
    width:100%;
    height: 100%;
}
.cost{
    display: inline-block;
}
.card{
    margin-right: 10px;
}
.card-img{
    border-radius: 40px;
}
.card{
    border-radius:40px;
}
.cost-row{
    border-bottom: 1px solid var(--grey);
}
.cost-wrapper{
    margin-right:3em;
    width:150px;
    font-weight: 600;
    color: var(--header-text);
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal-dialog{
    width: 90% !important;
    height: 90% !important;
}
.modal-body iframe{
    width: 100%;
    height: 100%;
}
.preview-doc{
    all:unset;
    color: var(--white-color) !important;
}
.preview-doc:hover{
    color: var(--purple);
}
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }
    .home-text{
        font-size: 4em;
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 50px;
        height: 50px
    }
    .dropdown-menu{
        width: 50px !important;
    }
    .header_img img {
        width: 50px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show-nav {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}
.bd-example-modal-lg{
    width: 100% !important;
}
.document-name{
    font-weight: 800;
    color: var(--title-color);
}
.document-name a:hover{
    color: var(--purple);
}
.folder-icon{
    color: var(--header-text);
    font-weight: bold;
}
.home-image {
    height: 50%;
    background: rgba(0, 0, 0, 0.3) url('logo/home.jpg') no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    align-items: center;

}
.contact-form{
    margin-top:80px;
    border-radius:40px;
}
.home-info{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--title-color);
}
.home-logo{
    font-size: 3em;
    color: var(--white-color);
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 1em;
}
.home-text{
    color:var(--first-color);
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}
.home-buttons{
    justify-content: center;
}
.home-link{
    color: var(--first-color);
    border-color: var(--first-color);
    border-radius: 30px;
    width: 200px;
    margin-left:10px;
}
.home-link:hover{
    color: var(--white-color);
    border-color: var(--white-color);
}
.chart-info{
    padding-left: 0.7em;
    text-align: center;
    padding-bottom: 1em;
}
.chart-projects{
    margin-top: 1.7em;
}
.form-select{
    width: 300px;
}
.row-select{

    padding-top: 2em;
    padding-left: 2em;
}