{% extends 'base.html.twig' %}

{% block title %}New Cost{% endblock %}

{% block body %}
    <h1>Add a new Cost</h1>
    <h3>Attention! Based on the currency you introduce, the cost will be calculated based on BNR provided current exchange rates</h3>
    <p></p>
    {{ include('cost/_form.html.twig') }}

    <a href="{{ path('cost_index') }}">back to list</a>
{% endblock %}
