<form class="d-inline" method="post" action="{{ path('stage_delete', {'slug': stage.slug}) }}"onsubmit="return confirm('Are you sure you want to delete this item?');">
              
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stage.slug) }}">
              <button class="btn btn-delete"><i class='bx bx-x bx-sm'></i></button>
              
</form>
