<form class="d-inline" method="post" action="{{ path('stage_delete', {'slug': stage.slug}) }}"onsubmit="return confirm('Delete this stage?');">
              
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stage.slug) }}">
              <button class="btn-delete"><i class="fas fa-times-circle"></i></button>
              
</form>
